@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Electrolize|Open+Sans:400,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #222;
}

header {
  padding: 15px;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: 'Electrolize', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin-bottom: 8px;
}
h2 {
  font-size: 1em;
}
header a {
  color: #222;
  text-decoration: underline;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}
.ui {
  margin: 17px 0 15px 0;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  border: 1px solid #6e6e6e;
  display: inline-block;
  padding: 7px 8px 5px 8px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  color: #6e6e6e;
  border: 1px solid #6e6e6e;
}
.button:hover a {
  color: #484848;
}
path {
  stroke: #222;
  stroke-width: 0.4;
}
.border {
  width: 100%;
  height: 1px;
  background: #222;
  transform: translateY(1px);
}
.step-header {
  display: inline-block;
  padding: 15px 15px 13px 15px;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  position: absolute;
  z-index: 1;
}
a {
  color: #222;
}
a:hover {
  color: #484848;
}
.slider-ui {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.slider-ui label {
  margin-right: 12px;
}
input {
  margin-top: -1px;
  vertical-align: middle;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.input-wrapper .wrapper-header {
  font-family: 'Electrolize', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 4px 3px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Electrolize', sans-serif;
  font-size: 1.3em;
}
.instruction {
  color: #6e6e6e;
  text-align: center;
  margin: 15px 0;
}
.material {
  text-align: center;
  margin: 15px 0;
}
@media only screen and (max-width: 700px) {
  .step-header {
    position: relative;
  }
}
