@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Electrolize|Open+Sans:400,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #222;
}

header {
  padding: 15px;
  border-bottom: 2px solid #222;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
h1 {
  font-family: 'Electrolize', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin-bottom: 8px;
}
h2 {
  font-size: 1em;
}
header a {
  color: #222;
  text-decoration: underline;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}
header a:hover {
  color: white;
}
.ui {
  margin: 17px 0 15px 0;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  border: 1px solid #222;
  display: inline-block;
  padding: 7px 8px 5px 8px;
  border-radius: 3px;
  margin-bottom: 15px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 8px;
}
.button:hover {
  color: #68B3AF;
  border: 1px solid #68B3AF;
}
.button:hover a {
  color: #68B3AF;
}
path {
  stroke: #222;
  stroke-width: 0.5;
}
.step-header {
  display: inline-block;
  padding: 15px;
  color: white;
  font-family: 'Electrolize', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  position: absolute;
  z-index: 1;
}
a {
  color: #222;
}
a:hover {
  color: #68B3AF;
}
.slider-ui {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
}
.slider {
  transform: translateY(3px);
  margin: 0 15px;
}
.slider-ui span {
  margin-right: 8px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Electrolize', sans-serif;
  font-size: 1.3em;
}
.instruction {
  text-align: center;
  margin: 17px 0 15px 0;
}
@media only screen and (max-width: 700px) {
  .step-header {
    position: relative;
  }
}
